:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

body {
  width: 100%;
  margin: 0;
}

.search-page-btn {
  padding: 15px 35px 15px 35px;
  border-radius: 10px;
  border: 0px;
  background-color: rgb(112, 45, 45);
}

.search-page-btn:hover {
  background-color: white;
  color: rgb(112, 45, 45);
}


a {
  text-decoration: none;
  color: white;
}